:root{
    --header-size : 40px;
}

body,
html,
.application{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Segoe UI Light', sans-serif;
}

.application{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    width: 600px;
    height: 400px;
    
}

.todo-list-content{
    height: calc( 100% - var(--header-size) );
    width: 100%;
    float: left;
    background-color: #FFE57F;
}

.todo-list-header{
    width: 100%;
    height: var(--header-size);
    float: left;
    color: #FFF;
    background-color: #4E342E;
    font-weight: bold;
    line-height: var(--header-size);
    text-indent: 10px;
}
.todo-list-item{
    width: 100%;
    float: left;
    height: calc(var(--header-size) - 1px);
    border-bottom: solid 1px #A1887F;
    position: relative;
    overflow: visible;
}
.todo-list-item:hover > .todo-list-item-edit{
    display: block;
}
.todo-list-item-edit{
    position: absolute;
    width: calc( 2 * var(--header-size) );
    left: calc( -2 * var(--header-size) ) ;
    top: 0;
    z-index: 9999;
    display: none;
}
.todo-list-item-edit-button{
    width: var(--header-size);
    height: var(--header-size);

    color: #2196F3;
    float: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.todo-list-item-edit-button:hover{
    color: #2196F3;
}
.todo-list-item > input{
    border: none;
    font-family: inherit;
    font-size: inherit ;
    width: 100%;
    height: 100%;
    text-indent: 10px;
}
.todo-list-item-text{
    float: left;
    height: 100%;
    text-indent: 10px;
    line-height: var(--header-size);
}
.todo-list-header-button{
    float: right;
    height: var(--header-size);
    width: var(--header-size);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}
.dialog-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog-overlay > input{
    font-family: inherit;
    font-style: inherit ;
    height: calc( 2 * var(--header-size) );
    width: 600px;
    border: #FFF solid var(--header-size);
    text-indent: 10px;
    line-height: calc( 2 * var(--header-size) );
    font-size: 2em;
}
.dialog-overlay-actions{
    position: absolute ;
    bottom: 0;
    right: 0;
    height: calc( 2 * var(--header-size));
    width: calc( 4 * var(--header-size));
}
.dialog-overlay-actions-button{
    float: left;
    height: calc( 2 * var(--header-size));
    width: calc( 2 * var(--header-size));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}